architecture/.structurizr/1/images/SystemLandscape-001-thumbnail.png
architecture/.structurizr/1/images/thumbnail.png
architecture/.structurizr/index/_2.cfe
architecture/.structurizr/index/_2.cfs
architecture/.structurizr/index/_2.si
architecture/.structurizr/index/segments_3
architecture/.structurizr/index/write.lock
architecture/workspace.json
